@{
    ViewData["Title"] = "Home Page";
}
@using License.Services.ViewModel;
@model IEnumerable<LicenseTypeVM>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> @Model.Count()</p>
</div>
